django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
gitpython
pytest
robotframework
playwright
celery>=5.3.0
redis>=4.5.5
pdfkit==1.0.0
channels>=4.2.0
psycopg2-binary>=2.9.9
Pillow>=10.2.0
